#ignore everything except def, rc, inl, h and cpp files

*
!*/
!*.h
!*.cpp
!*.rc
!*.def
!*.inl
!*.hpp

*.lib
*.exp
/.vs/CvGameCoreDLL.vs2013/v14
/BuildOutput/VS2013_ModWin32
/BuildTemp
/ipch/CVGAMECOREDLL.VS2013-7791c2c4
/ipch/CVGAMECOREDLL_EXPANSION1.VS2013-cc87286e
/ipch/CVGAMECOREDLL_EXPANSION2.VS2013-ebf48350
